footer {
  background-color: #5267df;
  width: 100%;
}

.up-footer {
  max-width: 500px;
  width: 100%;
  /* min-height: inherit; */
  display: flex;
  flex-direction: column;
}

.num-joined {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 40px;
  letter-spacing: 5px;
}

.contact-btn {
  background-color: #fa5959;
}
.contact-btn:hover {
  background-color: white;
  color: #fa5959;
  border: 1px solid #fa5959;
}

.title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.input-container {
  width: 450px;
}

.input {
  width: 300px;
}

@media (max-width: 768px) {
  .input {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .input-container {
    height: 110px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .contact-btn {
    width: 100%;
    max-width: 300px;
    max-height: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
